<configuration>

    <appender name="ELASTIC" class="com.dreamscometrue.libraryvariant.config.ElasticAppender">
        <elasticUrl>https://library-9343659196.us-east-1.bonsaisearch.net:443/spring-logs-2025.05.30/_doc</elasticUrl>
        <username>4erwwa64t4</username>
        <password>pt1qlhh2us</password>
    </appender>
    <root level="INFO">
        <appender-ref ref="ELASTIC" />
    </root>

</configuration>